In [3]:
# import the pakages 
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import pyspark.sql.functions as func

In [4]:
# create the SPark session
spark = SparkSession.builder.appName("FirstApp").getOrCreate()

In [5]:
# define schema for the DataFrame
mySchema = StructType([\
                        StructField("UserID",IntegerType(),True),
                        StructField("name",StringType(),True),
                        StructField("age",IntegerType(),True),
                        StructField("friends",IntegerType(),True),
    
                      ])

In [10]:
# create DataFrame on CSV file
people = spark.read.format("csv").schema(mySchema).load("fakefriends.csv")

In [14]:
# performing all of the transformation 
output = people.select(people.UserID,people.name,people.age,people.friends)\
        .where(people.age<30).withColumn('inter_ts',func.current_timestamp())\
        .orderBy(people.UserID)

In [15]:
# take the count of the o/p dataframe
output.count()

112

In [16]:
#create Temp view
output.createOrReplaceTempView("peoples")

In [17]:
spark.sql("select name,age,friends,inter_ts from peoples").show()

+--------+---+-------+--------------------+
|    name|age|friends|            inter_ts|
+--------+---+-------+--------------------+
|Jean-Luc| 26|      2|2025-02-15 08:45:...|
|    Hugh| 27|    181|2025-02-15 08:45:...|
|  Weyoun| 22|    323|2025-02-15 08:45:...|
|   Miles| 19|    268|2025-02-15 08:45:...|
|  Julian| 25|      1|2025-02-15 08:45:...|
|     Ben| 21|    445|2025-02-15 08:45:...|
|  Julian| 22|    100|2025-02-15 08:45:...|
|     Nog| 26|    281|2025-02-15 08:45:...|
| Beverly| 27|    305|2025-02-15 08:45:...|
|    Morn| 25|     96|2025-02-15 08:45:...|
|   Brunt| 24|     49|2025-02-15 08:45:...|
|     Nog| 20|      1|2025-02-15 08:45:...|
| Beverly| 19|    269|2025-02-15 08:45:...|
|   Brunt| 19|      5|2025-02-15 08:45:...|
|  Geordi| 20|    100|2025-02-15 08:45:...|
|  Geordi| 21|    477|2025-02-15 08:45:...|
|  Kasidy| 22|    179|2025-02-15 08:45:...|
|   Brunt| 20|    384|2025-02-15 08:45:...|
|     Ben| 28|    311|2025-02-15 08:45:...|
|    Worf| 24|    492|2025-02-15 08:45:...|
+--------+---+-------+--------------------+
only showing top 20 rows